/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --near-color-black: #000000;
  --near-color-slate: #4b4f54;
  --near-color-red: #ff585d;
  --near-color-blue: #00C1DE;
  --near-color-royal-blue: #0072CE;
  --near-color-green: #00C08B;
  --near-color-yellow-light: #FAF8D1;
  --near-color-yellow: #F0EC74;
  --near-color-yellow-dark: #ECE750;
  --near-color-royal: #0072ce;
  --near-color-gray: #f2f2f2;
  --ifm-color-primary: #0072ce;
  /* TODO update theme variants */ 
  /* --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208); */

  --color-error: red;
  --color-footer: #23262a

  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

a code {
  color: var(--near-color-blue);
}

.admonition-note {
  background-color: var(--near-color-gray);
  border-color: var(--near-color-gray);
}

.admonition-tip {
  background-color: var(--near-color-green);
  border-color: var(--near-color-green);
}

.admonition-info {
  background-color: var(--near-color-blue);
  border-color: var(--near-color-blue);
}

.admonition-caution {
  background-color: var(--near-color-yellow);
  border-color: var(--near-color-yellow);
}

.admonition-danger {
  background-color: var(--near-color-red);
  border-color: var(--near-color-red);
}

